# =========================
# Prerequisites / deps
# =========================
*.d

# =========================
# Object files
# =========================
*.o
*.ko
*.obj

# =========================
# Linker outputs
# =========================
*.map
*.ilk
*.exp

# =========================
# Precompiled headers
# =========================
*.gch
*.pch

# =========================
# Libraries
# =========================
*.lib
*.a
*.la
*.lo

# =========================
# Shared objects
# =========================
*.dll
*.so
*.so.*
*.dylib

# =========================
# Executables 
# =========================
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.elf

# =========================
# Debug files
# =========================
*.dSYM/
*.su
*.idb
*.pdb

# =========================
# Kernel module artifacts
# =========================
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# =========================
# Build output
# =========================
Debug/
Release/
build/
out/

# =========================
# STM32CubeIDE
# =========================
.settings/
.metadata/
RemoteSystemsTempFiles/
*.log
*.bak
*.swp

# =========================
# CMake / Ninja
# =========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
build.ninja
.ninja_log
.ninja_deps

# =========================
# SquareLine Studio
# =========================
backup/*
SquareLine_Project.sll
SquareLine_Project.slp

# =========================
# OS / editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/